<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mendhak.example"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" >
        <activity android:name="GDocsUploadActivity"
                  android:label="@string/app_name">
            <intent-filter>

            </intent-filter>
        </activity>
        <activity android:name=".OAuth2AuthorizationActivity" android:label="Authorize with Google Docs"/>
        <activity android:name=".PureJavaUploadActivity" android:label="Pure Java version">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest> 
